src/main/java/META-INF/searchmovie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/searchmovie"
	xmlns:tns="http://www.example.org/searchmovie" elementFormDefault="qualified">
	<element name="movie">
		<complexType>
			<sequence>
				<element name="movieid" type="string" />
				<element name="rating" type="string" />
				<element name="genres" type="string" />
				<element name="runtime" type="string" />
				<element name="language" type="string" />
				<element name="title" type="string" />
				<element name="poster" type="string" />
				<element name="writers" type="string" />
				<element name="film_locations" type="string" />
				<element name="directors" type="string" />
				<element name="rating_count" type="string" />
				<element name="actors" type="string" />
				<element name="plot_simple" type="string" />
				<element name="year" type="string" />
				<element name="country" type="string" />
				<element name="type" type="string" />
				<element name="release_date" type="string" />
				<element name="also_known_as" type="string" />
				<element name="wanting" type="string" />
				<element name="sale" type="string" />
				<element name="doubanrating" type="string" />
			</sequence>
		</complexType>
	</element>
</schema>